@model IEnumerable<SnoopShop.Models.mPost>
<div class="row clearfix container-91">
    <div class="col-sm-3 p-0 m-0">
        @Html.Action("Categories", "Module")
    </div>
    <div class="col-sm-7 slider">
        @Html.Action("SlideShow", "Module")
    </div>
    <div class="col-sm-2">
        <div class="exp-news">
            
            <div class="title text-dark font-weight-bold">
                <a href="" class="text-dark text-decoration-none" style="color: #dd5151 ">SnoopS-Gửi gắm niềm tin</a>
            </div>
            <div class="title text-dark font-weight-bold">


                <img src="~/Public/images/bannerright.jpeg" />


            </div>
            @foreach (var u in Model)
            {
        <div class="des-exp">
            <a href="~/@u.Slug" class="text-dark text-decoration-none">
                @u.Title
            </a>
        </div>}
            <div class="mb-4"></div>
            @foreach (var t in ViewBag.Slider)
            {
        <div class="my-1 pl-2">
            <a href="@t.Url" class="my-5"><img src="~/Public/images/sliders/@t.Image" alt="@t.Name"></a>
        </div>}
        </div>
    </div>
</div>
