@model IEnumerable<SnoopShop.Models.mUser>
@{
    ViewBag.Title = "Profiles";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thông tin cá nhân</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User Profile</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="~/Public/images/user/@Session["Admin_Images"]"
                                     alt="@Session["Admin_fullname"]">
                            </div>

                            <h3 class="profile-username text-center">@Session["Admin_fullname"]</h3>

                            <p class="text-muted text-center">@Session["Admin_Name"]</p>

                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Followers</b> <a class="float-right">#</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Following</b> <a class="float-right">#</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Friends</b> <a class="float-right">#</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- About Me Box -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <strong><i class="fas fa-book mr-1"></i> Tên</strong>

                            <p class="text-muted">
                                @Session["Admin_fullname"]
                            </p>

                            <hr>

                            <strong><i class="fas fa-map-marker-alt mr-1"></i>Số điện thoại</strong>

                            <p class="text-muted">0@(@Session["Admin_Phone"])</p>

                            <hr>



                            <strong><i class="far fa-file-alt mr-1"></i> Địa chỉ</strong>

                            <p class="text-muted"> @Session["Admin_Address"]</p>

                        </div>
                        @Html.ActionLink("Chỉnh sửa", "EditCustomers", new { id = @Session["Admin_ID"] }, new { @class = "btn btn-primary btn-block ", @style = "background:#ee4d2d, color:white" })

                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card card-primary">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-12">

                                    <div class="card-header">
                                        <h4 class="card-title">Giải trí</h4>
                                    </div>
                                    <div class="card-body">
                                        <div>
                                            <div class="btn-group w-100 mb-2">
                                                <a class="btn btn-info active" href="javascript:void(0)" data-filter="all"> All items </a>
                                                <a class="btn btn-info" href="javascript:void(0)" data-filter="1"> Category 1 (WHITE) </a>
                                                <a class="btn btn-info" href="javascript:void(0)" data-filter="2"> Category 2 (BLACK) </a>
                                                <a class="btn btn-info" href="javascript:void(0)" data-filter="3"> Category 3 (COLORED) </a>
                                                <a class="btn btn-info" href="javascript:void(0)" data-filter="4"> Category 4 (COLORED, BLACK) </a>
                                            </div>
                                            <div class="mb-2">
                                                <a class="btn btn-secondary" href="javascript:void(0)" data-shuffle> Shuffle items </a>
                                                <div class="float-right">
                                                    <select class="custom-select" style="width: auto;" data-sortOrder>
                                                        <option value="index"> Sort by Position </option>
                                                        <option value="sortData"> Sort by Custom Data </option>
                                                    </select>
                                                    <div class="btn-group">
                                                        <a class="btn btn-default" href="javascript:void(0)" data-sortAsc> Ascending </a>
                                                        <a class="btn btn-default" href="javascript:void(0)" data-sortDesc> Descending </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="filter-container p-0 row">
                                                <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
                                                    <a href="https://via.placeholder.com/1200/FFFFFF.png?text=1" data-toggle="lightbox" data-title="sample 1 - white">
                                                        <img src="https://via.placeholder.com/300/FFFFFF?text=1" class="img-fluid mb-2" alt="white sample" />
                                                    </a>
                                                </div>
                                                <div class="filtr-item col-sm-2" data-category="2, 4" data-sort="black sample">
                                                    <a href="https://via.placeholder.com/1200/000000.png?text=2" data-toggle="lightbox" data-title="sample 2 - black">
                                                        <img src="https://via.placeholder.com/300/000000?text=2" class="img-fluid mb-2" alt="black sample" />
                                                    </a>
                                                </div>
                                                <div class="filtr-item col-sm-2" data-category="3, 4" data-sort="red sample">
                                                    <a href="https://via.placeholder.com/1200/FF0000/FFFFFF.png?text=3" data-toggle="lightbox" data-title="sample 3 - red">
                                                        <img src="https://via.placeholder.com/300/FF0000/FFFFFF?text=3" class="img-fluid mb-2" alt="red sample" />
                                                    </a>
                                                </div>
                                                <div class="filtr-item col-sm-2" data-category="3, 4" data-sort="red sample">
                                                    <a href="https://via.placeholder.com/1200/FF0000/FFFFFF.png?text=4" data-toggle="lightbox" data-title="sample 4 - red">
                                                        <img src="https://via.placeholder.com/300/FF0000/FFFFFF?text=4" class="img-fluid mb-2" alt="red sample" />
                                                    </a>
                                                </div>
                                                <div class="filtr-item col-sm-2" data-category="2, 4" data-sort="black sample">
                                                    <a href="https://via.placeholder.com/1200/000000.png?text=5" data-toggle="lightbox" data-title="sample 5 - black">
                                                        <img src="https://via.placeholder.com/300/000000?text=5" class="img-fluid mb-2" alt="black sample" />
                                                    </a>
                                                </div>
                                                <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
                                                    <a href="https://via.placeholder.com/1200/FFFFFF.png?text=6" data-toggle="lightbox" data-title="sample 6 - white">
                                                        <img src="https://via.placeholder.com/300/FFFFFF?text=6" class="img-fluid mb-2" alt="white sample" />
                                                    </a>
                                                </div>
                                                <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
                                                    <a href="https://via.placeholder.com/1200/FFFFFF.png?text=7" data-toggle="lightbox" data-title="sample 7 - white">
                                                        <img src="https://via.placeholder.com/300/FFFFFF?text=7" class="img-fluid mb-2" alt="white sample" />
                                                    </a>
                                                </div>
                                                <div class="filtr-item col-sm-2" data-category="2, 4" data-sort="black sample">
                                                    <a href="https://via.placeholder.com/1200/000000.png?text=8" data-toggle="lightbox" data-title="sample 8 - black">
                                                        <img src="https://via.placeholder.com/300/000000?text=8" class="img-fluid mb-2" alt="black sample" />
                                                    </a>
                                                </div>
                                                <div class="filtr-item col-sm-2" data-category="3, 4" data-sort="red sample">
                                                    <a href="https://via.placeholder.com/1200/FF0000/FFFFFF.png?text=9" data-toggle="lightbox" data-title="sample 9 - red">
                                                        <img src="https://via.placeholder.com/300/FF0000/FFFFFF?text=9" class="img-fluid mb-2" alt="red sample" />
                                                    </a>
                                                </div>
                                                <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
                                                    <a href="https://via.placeholder.com/1200/FFFFFF.png?text=10" data-toggle="lightbox" data-title="sample 10 - white">
                                                        <img src="https://via.placeholder.com/300/FFFFFF?text=10" class="img-fluid mb-2" alt="white sample" />
                                                    </a>
                                                </div>
                                                <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
                                                    <a href="https://via.placeholder.com/1200/FFFFFF.png?text=11" data-toggle="lightbox" data-title="sample 11 - white">
                                                        <img src="https://via.placeholder.com/300/FFFFFF?text=11" class="img-fluid mb-2" alt="white sample" />
                                                    </a>
                                                </div>
                                                <div class="filtr-item col-sm-2" data-category="2, 4" data-sort="black sample">
                                                    <a href="https://via.placeholder.com/1200/000000.png?text=12" data-toggle="lightbox" data-title="sample 12 - black">
                                                        <img src="https://via.placeholder.com/300/000000?text=12" class="img-fluid mb-2" alt="black sample" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>



